* {
	margin: 0;
	padding: 0;
	/* font-family: 'Courier New', monospace; */
	/* font-family: 'Manrope', sans-serif; */
	font-family: 'Rajdhani', sans-serif;
}

body {
	background-color: whitesmoke;
	overflow-x: hidden;
}

.sidepanel {
	height: 100vh; /* Specify a height */
	width: 300px; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0); /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	/* transition: 2s;  */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.picture-div img{
	width: 200px;
	padding: 10px 0px;
	border-radius: 50%;
}

.name {
	color: rgb(140, 102, 102);
	font-size: 24px;
	padding: 10px;
}

.bio {
	/* background-color: blueviolet; */
	color: rgb(190, 190, 190);
	padding: 0 36px;
}

.uppersidepanel {
	/* background-color: blue; */
	height: 700px;
}

.bottomsidepanel {
	height: 120px;
	padding-bottom: 14px;
	/* background-color: darkorange; */
}

.links-div {
	/* width: 200px; */
	display: inline-grid;
	grid-template-columns: auto auto auto;
}

.link {
  padding: 18px;
  font-size: 12px;
  text-align: center;
}

.link a {
	color:rgb(211, 210, 193);
	display: block;
	text-decoration: none;
}

.link a:hover {
	color: rgb(140, 102, 102);
	display: block;
	text-decoration: none;
}

.link a i {
	display: block;
	font-size: 25px;
	padding: 5px;
}

/* content */

.container {
	padding-left: 320px;
	padding-right: 20px;
	background-color: whitesmoke;
}

.header-div {
	padding: 24px 0;
}

.portfolio-filter-div {
	padding: 0;
	margin: 0;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	padding: 10px;
	/* border-right-style: solid; */
	border-width: 1px;
	min-width: 25px;
	text-align: center;
}

li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li:hover {
	background-color: #c2c1ad;
	cursor:pointer;
}

.projects-div {
	padding: 20px 0;
}

.grid-div {
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	grid-gap: 20px;
	max-width: 1200px;
}

.project-div {
	font-size: 30px;
	text-align: center;
	padding: 20px 15px;
	box-shadow: 1px 1px 5px 1px rgba(20,20,20,0.4);
}

.project-div img {
	width: 100%;
	border: 1px solid black;
	display: none;
}

.project-bottom-div {
	/* padding: 0 30px; */
}

.project-name-div {
	/* width: 100%; */
	background-color: #c2c1ad;
	font-size: 24px;
}

.project-info-div {
	/* background-color: rgb(232, 221, 221); */
	/* width: 80%;
	margin: auto; */
}

.project-info {
	margin-top: 2px;
	display: block;
	font-size: 14px;
}

.project-description {
	font-size: 16px;
	padding-top: 10px;
}

.project-links-div {
	padding-top: 20px;	
}

.project-link-div {
	padding: 10px;
	font-size: 12px;
	text-align: center;
	color: gray;
	/* background-color: aqua; */
	display: inline-block;
}

.project-link-div a {
	text-decoration: none;
	color:gray;

}

.project-link-div a:hover {
	color:rgb(248, 248, 246);
	display: block;
	text-decoration: none;
}

.project-link-div a i {
	font-size: 30px;
}
/* .project-link-div.github a i {
	color:gray;
} */
.project-link-div.github a i:hover {
	color:rgb(0, 0, 0);
}
.project-link-div.youtube a i:hover {
	color:rgb(198, 0, 0);
}


@media (max-width: 1200px) and (min-width:850px) {
	.grid-div { 
		grid-template-columns: repeat(2, 1fr); 
	}

}

@media (max-width: 850px) {
	.grid-div { 
		grid-template-columns: repeat(1, 1fr); 
	}

  }


