* {
	margin: 0;
	padding: 0;
	/* font-family: 'Courier New', monospace; */
	/* font-family: 'Manrope', sans-serif; */
	font-family: 'Rajdhani', sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color: whitesmoke;
	overflow-x: hidden;
}

.sidepanel {
	height: 100vh;
	/* height: 100%; */
	width: 300px;
	position: fixed; 
	z-index: 1; 
	top: 0;
	left: 0;
	background-color: rgb(14, 14, 14); /* Black*/
	overflow-x: hidden;
	/* transition: 2s;  */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.picture-div img{
	width: 200px;
	border-radius: 50%;
}

.name {
	color: rgb(140, 102, 102);
	font-size: 24px;
	padding: 10px;
}

.bio {
	color: rgb(190, 190, 190);
	padding: 0 36px;
	/* padding-bottom: 18px; */
}

.uppersidepanel {
	padding-top: 4vh;
}

.bottomsidepanel {
	/* padding-bottom: 0px; */
	/* background-color: darkorange; */
	padding-bottom: 25%;
}

.links-div {
	display: inline-grid;
	grid-template-columns: auto auto auto;
}

.link {
  padding: 18px;
  font-size: 12px;
  text-align: center;
}

.link a {
	color:rgb(211, 210, 193);
	display: block;
	text-decoration: none;
}

.link a:hover {
	color: rgb(140, 102, 102);
	display: block;
	text-decoration: none;
}

.link a i {
	display: block;
	font-size: 25px;
	padding: 5px;
}

/* content */

.container {
	margin-left: 300px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: whitesmoke;
}

.header-div {
	padding: 24px 0;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.portfolio-filter-div {
	padding: 0;
	margin: 0;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
}

.portfolio-filter-div ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.portfolio-filter-div li {
	float: left;
	padding: 10px;
	/* border-right-style: solid; */
	border-width: 1px;
	min-width: 25px;
	text-align: center;
}

.portfolio-filter-div li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.portfolio-filter-div li:hover {
	background-color: #c2c1ad;
	cursor:pointer;
}

.projects-div {
	padding: 20px 0;
}

.grid-div {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr)); 
	grid-auto-rows: 1fr;
	grid-gap: 20px 14px;
	max-width: 1200px;
}

.project-div {
	font-size: 30px;
	text-align: center;
	padding: 10px;
	padding-bottom: 0;
	box-shadow: 1px 1px 5px 1px rgba(20,20,20,0.4);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-div img {
	width: 90%;
	height: 200px; 
	border: 1px solid black;
	display: none;
}

.project-bottom-div {
	/* padding: 0 30px; */
}

.project-name-div {
	background-color: #c2c1ad;
	/* background-color: #dbdad5; */
	padding: 2px 2px;
	font-size: 16px;
	font-weight: bold;
}

/* .project-name {

} */

.project-info-div {
	/* background-color: rgb(232, 221, 221); */
	/* width: 80%;
	margin: auto; */
}

.project-info {
	margin-top: 2px;
	display: block;
	font-size: 12px;
	font-style: italic;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-bottom: 10px;
}

.project-description {
	font-size: 16px;
	padding-top: 10px;
	box-sizing: border-box;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.project-description-div {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* align-items: center; */
}

.project-description-div p {
	font-size: 15px;
}

ul.project-description {
	list-style: none;
	padding-top: 8px;
	text-align: center;
}
.project-description li {
	font-size: 15px;
}



.project-links-div {
	padding-top: 8px;	
}

.project-link-div {
	padding: 10px;
	font-size: 12px;
	text-align: center;
	color: gray;
	display: inline-block;
}

.project-link-div a {
	text-decoration: none;
	color:gray;

}

.project-link-div a:hover {
	color:rgb(248, 248, 246);
	display: block;
	text-decoration: none;
}

.project-link-div a i {
	font-size: 20px;
}
/* .project-link-div.github a i {
	color:gray;
} */
.project-link-div.github a i:hover {
	color:rgb(0, 0, 0);
}
.project-link-div.youtube a i:hover {
	color:rgb(198, 0, 0);
}


/* Response */
.scroll-div {
	padding: 6px;
	color: black;
	background-color: #c3bdbd;
	box-sizing: border-box;
	display: inline-block;
	margin-top: 50px;
	border-radius: 10px;
}

.scroll-div span {
	user-select: none;
	display: block;
}

.scroll-div i {
	font-size: 20px;
	display: inline-block;
	box-sizing: border-box;
	/* color: white; */
}

@media (max-width: 880px) {
	.sidepanel {
		width: 100%;
		position: relative;
	}

	.container {
		margin-left: 0;
		height: 100vh;
	}

	.uppersidepanel {
		margin: 20% auto;
	}

	.picture-div img {
		width: 150px;
	}

	.bio {
		font-size: 18px;
	}

	/* .bottomsidepanel {
		margin-bottom: 22%;
	} */
}


@media (max-width: 600px) {
	.grid-div { 
		grid-template-columns: repeat(1, minmax(0, 1fr)); 
		grid-auto-rows:auto;
	}
	
	.name {
		font-size: 16px;
	}	

	.bio {
		font-size: 14px;
	}
}

@media (min-width: 600px) {
	
	.grid-div { 
		grid-template-columns: repeat(2, minmax(0, 1fr)); 
		grid-auto-rows:auto;
	}
	
	
}

@media (min-width:880px) {
	.grid-div { 
		grid-template-columns: repeat(2, minmax(0, 1fr)); 
	}

	
}

@media (min-width: 1200px){
	.grid-div { 
		grid-template-columns: repeat(3, minmax(0, 1fr)); 
		grid-auto-rows:auto;
	}
	
}





